:root {
  --alert-border-color: #b2acbe;
  --alert-color: #c9c2d6;
  --app-border-color: rgba(0, 0, 0, .12);
  --app-input-color: rgba(51, 51, 51, .87);
  --article-color: #f5f2f9;
  --article-content-color: #333;
  --background-color-mane-page: #cfcbd7;
  --box-shadow-color: rgba(0, 0, 0, .16);
  --cancel-color: #e67979;
  --footer-color: #f9f8fb;
  --modal-background-color: rgba(0, 0, 0, .3);
  --modal-color: #e5e5e5;
  --modal-underline-color: rgba(51, 51, 51, .5);
  --selected-color: #ccc;
  --shadow-color: rgba(0, 0, 0, .1);
  --submit-background-color: #97b5b8;
  --submit-color: #a5c4c6;
  --submit-focus-color: #a4c7ca;
  --submit-light: rgba(122, 163, 166, .12);
  --text-color: rgb(51, 51, 51);
  --x-close-color: #aaa;
  --x-close-hover-color: #000;
}

.d-article-content,
.e-article-content,
.t-article-content,
.s-article-content {
  background-color: var(--article-color);
  border-radius: 10px;
  grid-area: article;
  position: relative;
}

.submit-color {
  background: var(--submit-color);
}

.cancel-color {
  background: var(--cancel-color);
}

.smooth {
  border-radius: 10px;
}

.right {
  border-radius: 0;
}

// The x-Close Button
.close {
  color: var(--x-close-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--x-close-hover-color);
  cursor: pointer;
  text-decoration: none;
}

.smooth-button {
  border-radius: 24px;
  box-shadow: 0 3px 6px var(--shadow-color), 0 4px 8px var(--shadow-color), 0 1px 12px var(--shadow-color);
  height: 33px;
  width: 140px;
}

.right-button {
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--shadow-color), 0 2px 4px var(--shadow-color), 0 1px 8px var(--shadow-color);
  height: 33px;
  width: 140px;
}

.modal-layer {
  background-color: var(--modal-background-color);
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal-title {
  color: var(--text-color);
  font-size: 36px;
}

.modal-caption {
  color: var(--text-color);
  font-size: 24px;
}

.modal-text {
  color: var(--text-color);
  font-family: Inter;
  font-size: 24px;
}

.modal-input {
  background-color: var(--modal-color);
  border: 0;
  color: var(--text-color);
  font-family: Inter;
  font-size: 24px;
  line-height: 28px;
}

.modal-buttons {
  bottom: 30px;
  display: inline-block;
  position: absolute;

  button {
    color: var(--text-color);
    font-size: 16px;
    margin-right: 20px;
  }
}
