// App 
.main {
  color: var(--article-content-color);
  
.main-page {
  background-color: #E5E5E5;
  font-family: Roboto, Georgia, 'Times New Roman', Times, serif, Arial, Verdana, Tahoma, sans-serif;
}

.main-container {
  display: grid;
  grid-template-areas: "header section";
  grid-template-columns: 20% auto;
  grid-gap: 10px;
  margin: 10px;
}

// Header 
.header {
  background-color: var(--article-color);
  border-radius: 10px;
  height: 880px;
  grid-area: header;
}

.header-name {
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  margin: 47px 19%;
  position: relative;
}

.ellipse-icon {
  margin-left: 15.5%;
  margin-top: -89px;
}

.header-links {
  list-style: none;

  a {
    color: var(--article-content-color);
    text-decoration: none;
  }
}

.nav-dashboard__link {
  margin-left: 71px;
  margin-top: 71px;
}

.squaremodule-icon {
  margin-left: 27px;
  position: absolute;
}

.nav-dashboard__link,
.nav-employees__link,
.nav-teams__link,
.nav-settings__link {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  position: relative;
}

.nav-employees__link {
  margin-left: 65px;
  margin-top: 81px;
}

.personbig-icon {
  margin-left: 21.67px;
  margin-top: 80.67px;
  position: absolute;
}

.circlebig-icon {
  margin-left: 178px;
  margin-top: -50px;
}

.plus-icon {
  margin-left: 208px;
  margin-top: -53px;
}

.nav-teams__link {
  margin-left: 65px;
  margin-top: 82px;
}

.twopersons-icon {
  margin-left: 16.67px;
  margin-top: 85px;
  position: absolute;
}

.nav-settings__link {
  margin-left: 65px;
  margin-top: 405px;
}

.gear-icon {
  margin-left: 19.44px;
  margin-top: 405.33px;
  position: absolute;
}

//Common to all pages
.section {
  display: grid;
  grid-template-rows: 97px 773px;
  grid-template-areas: 'nav''article';
  grid-gap: 10px;
  grid-area: section;
}

.nav {
  align-content: center;
  background-color: var(--article-color);
  border-radius: 10px;
  flex-direction: row;
  grid-area: nav;
  justify-content: space-between;
}

.all-names {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
  margin-left: 3.47%;
  margin-top: 5px;
}

/* Devise styles */
.app {
  background-color: var(--modal-color);
  font-family: Roboto, Georgia, 'Times New Roman', Times, serif, Arial, Verdana, Tahoma, sans-serif;
  text-align: center;
}

/* registration*/
.app-title-registration,
.app-title-login {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: var(--article-content-color);
}

.app-title-registration {
  margin-top: 100px;
  margin-bottom: 30px;
}

.alert-fo {
  display: flex;
  justify-content: center;
}

.alert-info,
.alert-success,
.alert-danger {
  background-color: var(--alert-color);
  border-color: var(--alert-border-color);
  width: 500px;
}

/* login */
.app-title-login {
  margin-bottom: 30px;
  margin-top: 210px;
}

/*.ellips {
  position: absolute;
  margin-left: -100px;
  margin-top: -60px;
}
*/

legend {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"] {
  border-radius: 3px;
  width: 326px;
  height: 54px;
  margin-bottom: 17px;
  border: solid 1px var(--app-border-color);
  outline: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  background-color: transparent;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: var(--app-input-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
  text-indent: 3px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  background-color: var(--alert-color);
}

input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="text"]:focus::placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: var(--submit-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: var(--article-content-color);
  box-shadow: 0px 1px 2px var(--box-shadow-color), 0px 2px 4px var(--app-border-color), 0px 1px 8px var(--shadow-color);
}

input[type="submit"]:hover {
  background-color: var(--submit-background-color);
  border: none;
  color: var(--article-content-color);
}

input[type="submit"]:focus {
  background-color: var(--submit-focus-color);
}

.form-check {
  text-align: center;
  margin-left: -130px;
  color: var(--app-input-color);
}

/*
.facebook,
.vk,
.g {
  margin-right: 20px;
}
*/
